@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&family=BioRhyme:wght@200..800&family=Inter:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./partials/variables";
@import "./partials/reset";
@import "./partials/common";
@import "./partials/mixins";

// Contact page
.contact-main {
  background-color: $clr-secondary-100;
  color: $clr-primary;
  padding-top: 6rem;

  .section__header {
    padding: 2rem 0;
    color: $clr-primary;
  }

  .contact__content {
    display: grid;
    gap: 2.5rem;
  }

  .contact__content__form {
    display: grid;
    align-items: center;
    align-content: center;
    gap: 2.5rem;
    max-width: 650px;
  }

  .contact__content__image {
    max-width: 650px;
  }

  .form-field-wrapper {
    width: 100%;
    height: 40px;
    position: relative;
    font-family: "Inter", sans-serif;

    label {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      left: 0.5rem;
      color: $clr-secondary-100;
      text-transform: capitalize;
      font-size: clamp(0.875rem, 1vw, 11.125rem);
      transition: top 0.25s ease;
    }

    &:focus-within label {
      top: -1rem;
      color: $clr-primary;
    }

    .contact__content__form__field {
      width: 100%;
      height: 100%;
      font-size: 1.125rem;
      padding: 0.5em;
    }
  }

  .form-field-wrapper--textarea {
    height: 150px;
  }
}

.map {
  aspect-ratio: 16/6.5;
  background-color: pink;
}
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  overflow-x: clip;
  overflow-y: visible;
  width: 100%;
  background-color: $clr-secondary-50;
}
.header-section {
  .background-image img {
    width: 100%;
    height: 100%;
  }
}

.header__top-nav {
  @include flex(space-between, center);
  padding: 0.75em 0;

  .header__top-nav__logo {
    width: clamp(3.5rem, 10vw, 110px);
  }

  .header__top-nav__menu-toggle {
    background: transparent;
    border: none;
    font-size: 1.25rem;
    z-index: 10;
    color: white;
  }

  .header__top-nav__header__top-nav__nav-items {
    @include flex(space-around, space-between);
    flex-direction: column;

    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0rem;
    gap: 1rem;
    translate: 120%;
    transition: all 0.5s ease-in-out;
  }

  .show-menu {
    padding: 2em;
    translate: 20%;
    background-color: $clr-secondary-50;
    backdrop-filter: blur(5px);
    border-radius: 10px;
  }

  .header__top-nav__nav-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: uppercase;

    a {
      color: white;
    }
  }
}

// About section css
.about {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  gap: 0.5rem;
  padding: 2em 0;

  .about__header {
    text-align: center;
  }

  .about__content {
    width: 100%;
    justify-content: center;
    display: grid;
    gap: 20px;
    gap: 20px;
  }

  .about__content__section {
    max-width: 400px;
  }

  .about__btn {
    order: 3;
    display: flex;
    justify-content: center;
  }

  .about__info__paragraph {
    font-weight: 400;
    font-family: "Istok Web", sans-serif;
    font-size: clamp(0.875rem, 2.5vw, 1.5rem);
    text-transform: none;
  }
  .about__content__section h3 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 700;
  }
}

// Another section
.another-section {
  grid-template-rows: [row-start]1fr 1fr[row-end];
  color: $clr-primary;
  .background-image {
    place-self: center;
    aspect-ratio: 16/9;
    grid-row: row;
    grid-column: full-width;
  }

  .content {
    place-self: center;
    grid-row: row;

    h3 {
      font-size: clamp(1.5rem, 5.5vw, 4rem);
      font-family: "Bigshot One", serif;
      text-transform: uppercase;
    }
    p {
      font-family: "BioRhyme", serif;
      font-size: clamp(0.875rem, 3.5vw, 2rem);
    }

    .content-with-arrow {
      font-family: "Inter", sans-serif;
      @include flex(flex-start, center);
      gap: 5px;
      font-size: clamp(0.875rem, 2vw, 1.857rem);
    }

    .arrow-span {
      width: 7%;
    }
  }
}
.section__header {
  font-size: clamp(20px, 4vw, 48px);
  font-weight: 700;
  color: $clr-secondary-100;
  text-transform: uppercase;
  text-align: center;
}
// Gallery section
.gallery {
  background-color: $clr-secondary-100;
  font-family: "Inter", sans-serif;
  color: $clr-primary;
  padding-bottom: 2rem;

  .gallery__header {
    background-color: $clr-primary;
    padding: 1em 0;
  }

  .gallery__content {
    margin-top: 5px;
    columns: auto;
    gap: 1rem;
  }

  .gallery__btn-wrapper {
    // display: flex;
    justify-self: center;
  }

  .gallery__image-container {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 500px;
  }
}

// Footer section css
.footer {
  color: $clr-primary;
  background: $clr-secondary-100;
  padding: 1.5rem 0 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  .footer__wrapper {
    display: grid;
    justify-items: center;
    gap: 1.5rem;
  }

  .footer__article--contact {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    display: grid;
    gap: 0.5rem;
    place-content: center;
  }
  .footer__article--social {
    @include flex(center, center);
    gap: 1rem;
  }

  .social-link a {
    @include flex(center, center);
    width: 40px;
    aspect-ratio: 1/1;
    background-color: $clr-primary;
    border-radius: 100%;
    color: $clr-secondary-100;
  }

  .footer__article--copyright {
    border-top: 1px solid white;
    width: 100%;
    padding: 0.875em;
    @include flex(center, center);
    span {
      font-size: clamp(0.875rem, 2.5vw, 2rem);
    }
    img {
      width: fit-content;
    }
  }
}

// Media queries for responsiveness
@media (min-width: 768px) {
  .header {
    backdrop-filter: blur(10px);
  }
  .header__top-nav {
    .header__top-nav__header__top-nav__nav-items {
      position: static;
      flex-direction: row;
      translate: 0;
      height: auto;
      justify-content: flex-end;
    }
  }

  .header__top-nav__menu-toggle {
    display: none;
  }

  .gallery {
    .gallery__content {
      columns: auto 2;
    }
  }

  .contact__content {
    justify-content: center;
  }

  .footer__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    .footer__article--copyright {
      grid-column: 1/-1;
    }
  }
}

@media (min-width: 1024px) {
  .about {
    .section__header {
      text-align: start;
    }
    .about__content {
      grid-template-columns: 1.25fr 1fr 1fr;
      grid-template-rows:
        [row-start img-first-start]repeat(3, 10px) [img-sec-start] repeat(42, 10px)
        [img-first-end] repeat(3, 10px) [button-start] repeat(8, 10px) [row-end img-sec-end button-end];
      row-gap: 0;
    }
    .about__content__section {
      max-width: 500px;
      display: flex;
    }

    .about__info {
      grid-row: row;
      flex-direction: column;
    }

    .about__image.first {
      grid-row: img-first;
    }
    .about__btn {
      align-items: center;
      grid-row: button;
    }
    .about__image.second {
      grid-row: img-sec;
    }
    .grid-item:last-child img {
      width: 100%;
    }
  }
  .gallery {
    .gallery__content {
      columns: auto 3;
    }
  }

  .contact-main {
    .section__header {
      text-align: start;
    }
  }

  .contact__content {
    grid-template-columns: repeat(2, 1fr);

    .contact__content__form {
      padding: 2% 6%;
    }
  }
}

@media (min-width: 1440px) {
  .header-section {
    .background-image {
      margin: center;
      grid-column: content;
    }
  }

  .contact__content {
    .contact__content__form {
      padding: 130px 80px;

      .form-field-wrapper {
        label {
          font-size: clamp(0.875rem, 0.75vw, 11.125rem);
        }
      }
    }
  }
}
