.grid-container {
  display: grid;
  grid-template-columns: [full-width-start] $side-space [content-start]1fr[content-end] $side-space [full-width-end];
}

.grid-container > * {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}

.btn {
  border: none;
  padding: 0.75em 5em;
  background: transparent;
  text-transform: uppercase;
  font-family: "Istok Web", sans-serif;
  font-size: clamp(0.875rem, 2.5vw, 1.5rem);
  outline: 1px solid;
  transition: background-color 0.5s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}
